<div class="admin-container">

  <!-- SIDEBAR -->
  <div class="sidebar">
    <h2 class="logo">Admin</h2>

    <ul>
      <li routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</li>
      <li routerLink="/admin/buses" routerLinkActive="active">Buses</li>
      <li routerLink="/admin/bookings" routerLinkActive="active">Bookings</li>
    </ul>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">

    <!-- TOPBAR -->
    <div class="topbar">
      <h3>Admin Panel</h3>
    </div>

    <!-- PAGE CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>