<div class="table-card">

  <h3>All Bookings</h3>

<!-- LOADING -->
<div *ngIf="loading" class="loading-container">
  <div class="loader"></div>
  <p>Loading bookings...</p>
</div>

  <!-- TABLE -->
  <table *ngIf="!loading && bookings.length > 0">

    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Route</th>
        <th>Seats</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let b of bookings">
        <td>{{ b.bookingId }}</td>
        <td>{{ b.name || b.email }}</td>
        <td>{{ b.bus }}</td>

        <!-- 🔥 IMPORTANT: Seat Numbers -->
        <td>
          <span *ngFor="let s of b.seats; let i = index">
            {{ s }}<span *ngIf="i < b.seats.length - 1">, </span>
          </span>
        </td>

        <td>₹{{ b.totalAmount }}</td>

        <td>
          <button class="delete" (click)="cancelBooking(b.bookingId)">
            Cancel
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <!-- EMPTY -->
  <div *ngIf="!loading && bookings.length === 0" class="empty">
    No bookings available
  </div>

</div>